.entry-img, .result-img {
    max-width: 558px;
    align-self: center;
}

.container-entry-list, .container-search-page {
    display: flex;
    justify-content: center;
}

.normal-text {
    font-family: Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.38;
    text-shadow: none;
}

.card-link {
    font-family: Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.38;
    text-shadow: none;
}
.write-something {
    width: 400px;
    border-radius: 15px;
    padding-left: 10px;
}